body{
  font-family: Roboto;
  font-weight: 300px;
  padding-bottom: 100px;
}

#header{
  padding-top: 30px;
  padding-bottom: 30px;
}
#underHeader {
  color: #c00404;
  padding-top: 40px;
  padding-bottom: 40px;
}
#itSucks {
  padding-bottom: 90px;
}
#articleTitle{
  font-size: 20px;
}

h1{
  font-family: Roboto;
  font-weight: 700;
  font-size: 50px;
}
h2{
  font-family: Roboto;
  font-weight: 400;
}

#authors{
  color: #A0A0A0;
  font-weight: 400;
  padding-bottom: 20px;
}
#header{
  background-color: #3a1e1a;
}
#title {
  color: white;
}
.body{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.image{
  width:900px;
}
.buffer{
  padding-top: 20px;
  padding-bottom:60px;
}
#imageText{
  padding:30px;
  font-size:20px;
}
#problem {
  padding-top: 60px;
}
h3{
  font-weight: 400;
}


